<section>
  <h3>Обери вченого/вч</h3>

  <div class="grid">
    <div class="card"></div>
    <div class="card"></div>
    <div class="card"></div>
    <div class="card"></div>

    <div class="card"></div>
    <div class="card"></div>
    <div class="card"></div>
    <div class="card"></div>

    <div class="card"></div>
    <div class="card"></div>
    <div class="card"></div>
    <div class="card"></div>
  </div>

  <ul class="questions-list">
    <li>Які вчені народилися в 19 ст.?</li>
    <li>Які вчені народилися в 20 ст.?</li>
    <li>Які вчені народилися в 21 ст.?</li>
    <li>Хто створив перший комп'ютер?</li>
    <li>Хто винайшов електрику?</li>
    <li>Хто відкрив атом?</li>
    <li>Хто відкрив ДНК?</li>
    <li>Хто винайшов телеграф?</li>
    <li>Хто створив першу програму?</li>
    <li>Які вчені працювали в галузі фізики?</li>
    <li>Які вчені працювали в галузі математики?</li>
    <li>Які вчені працювали в галузі хімії?</li>
    <li>Хто отримав Нобелівську премію?</li>
  </ul>
</section>
